.container{
    margin: 20px 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    padding: 20px;
    background-color: seashell;
    gap: 20px;

}

.gift{
    position: relative;
    text-align: center;
}

h1{
    text-align: center;
    font-weight: 300;
    font-size: large; 
}

        

.title{        
    
    text-align: center;
text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
background: linear-gradient(45deg, #ff4081, #ff80ab);
padding: 15px;
border-radius: 15px;
display: inline-flexbox;
justify-items: center;
box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
animation: pop 1.5s infinite alternate;     
   }
        @keyframes pop {
                0% { transform: scale(0.5); }
                    100% { transform: scale(1.1); }
                }
        .gift{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: auto;
    padding-bottom: 10px;
    position: relative;
    z-index: 1;
    background-color: grey;
}

img{
    width: 150px;
    height: auto;
    display: block;
    padding-top: 50px;
    margin: 0 auto;
    cursor: pointer;
    border-radius: 20px;
    transition: transform 0.3s;


}
img:hover{
    transform: scale(1.25);
}

.checked{
    opacity: 0.5;
    pointer-events: none;
}

@media(max-width:600px){
    .container{
        grid-template-columns: repeat(2, minmax(100px, 1fr));
    }


    img{
        width:100px
    }
}